<div id="firstDiv" class ="card">
    <div class="card-header">
        <p  class="h3 text-uppercase text-center">history of tasks</p>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Date</th>
                    <th scope="col">Master Node</th>
                    <th scope="col">Ordinary Node</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tableBodyHistory">
                <tr>
                    <th scope="row">1</th>
                    <td>10-03-2019</td>
                    <td>Master node 1</td>
                    <td>Ordinary node 2</td>
                    <td>Arrosage a l'eau</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>10-12-2019</td>
                    <td>Master node 1</td>
                    <td>Ordinary node 3</td>
                    <td>Arrosage a l'eau fertilisée</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>10-01-2020</td>
                    <td>Master node 2</td>
                    <td>Ordinary node 1</td>
                    <td>Arrosage a l'eau</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <button class="btn btn-primary" (click)="add()">Ajouter</button> -->